<form #registerForm="ngForm" class="form-signin" (ngSubmit)="register()">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <div class="form-group">
    <label for="inputEmail" class="sr-only">Username</label>
    <input id="inputEmail" class="form-control" placeholder="Username" required type="username" name="username"
      [(ngModel)]="model.username">
  </div>
  <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" class="form-control" placeholder="Password" required type="password" name="password"
      [(ngModel)]="model.password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>